# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py linguist-language=Python
*.ipynb linguist-language=Python
*.m linguist-language=Matlab

# Exclude files from language statistics
*.csv linguist-vendored
*.json linguist-vendored
*.mp4 linguist-vendored